@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: 25px 50px;
  font-family: "Poppins", sans-serif;
  background-color: #fde092;
  color: #01233c;
}

img {
  width: 60%;
  max-width: 300px;
  margin: auto;
  display: block;
}

ul {
  list-style: none;
  display: table;
  margin: auto;
  text-align: left;
}
