@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap");

* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to bottom right, #fde092, #c26903);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  text-align: center;
  padding: 25px 50px;
  font-family: "Poppins", sans-serif;
  background-color: #fde092;
  background-image: linear-gradient(to bottom right, #fde092, #c26903);
  background-repeat: no-repeat;
  background-size: cover;
  color: #01233c;
}

.search {
  background-color: transparent;
  border: 2px solid #0000003d;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #01233c;
}

.search::placeholder {
  color: #636363;
}

.search:hover,
.search:focus {
  outline: none;
  background-color: #ffd561;
  border: 2px solid #0000003d;
}

img {
  border: solid 2px;
  border-radius: 15px;
  width: 60%;
  max-width: 300px;
  margin: auto;
  display: block;
}

ul {
  list-style: none;
  display: table;
  margin: auto;
  text-align: left;
}

@media only screen and (max-width: 640px) {
  .search {
    max-width: 180px;
  }
}

@media only screen and (max-width: 300px) {
  .search {
    max-width: 140px;
  }
}
