@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap");

:root {
  --main-bg-color: #b19b72;
}

* {
  box-sizing: border-box;
}

body {
  object-fit: contain;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  color: #01233c;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  box-shadow: 0 30px 10px var(--main-bg-color);
  width: 100vw;
}

.search {
  background-color: transparent;
  border: 2px solid #0000003d;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  color: #01233c;
}

.search::placeholder {
  color: #636363;
}

.search:hover,
.search:focus {
  outline: none;
  background-color: #eaeaea;
  border: 2px solid #0000003d;
}

img {
  position: static;
  margin-top: 52px;
  object-fit: fill;
  width: 100vw;
  height: 80vh;
}

ul {
  list-style: none;
  display: table;
  margin: auto;
  text-align: left;
}

.single-meal {
  background-image: linear-gradient(to bottom right, #e7e7e7, #d0d0d0);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0.15px 0.15px #000;
}

@media only screen and (max-width: 640px) {
  .search {
    max-width: 180px;
  }
}

@media only screen and (max-width: 300px) {
  .search {
    max-width: 140px;
  }
}
